.bg-1{
	background-image: url('image/img1.jpg');
}
.img1{
	width: 100%;
}
.margin1{
	margin: 4px;
}
div.polaroid {
    width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.img2{
	width: 200px;
}